<section class="section__workers">
  <div class="section row">
    <div class="col-lg-3 col-md-3 col-sm-11">
      <img ngSrc="./assets/img/employees.png" alt="" height="194" width="194" priority="auto">
      <h5>Друзин Руслан Валнетинович</h5>
      <h6>директор и основатель</h6>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-11">
      <img ngSrc="./assets/img/employees.png" alt="" height="194" width="194" priority="auto">
      <h5>Кожевников Олег Евгеньевич</h5>
      <h6>оценщик</h6>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-11">
      <img ngSrc="./assets/img/employees.png" alt="" height="194" width="194" priority="auto">
      <h5>Ломухина Валентина Сергеевна</h5>
      <h6>специалист по устойчивому развитию</h6>
    </div>
  </div>
  <div class="row section">
    <div class="slider_wrapper col-11">
      <app-image-slider [slides]="slides"></app-image-slider>
    </div>
  </div>
</section>

<section>
  <div class="row section">
    <div class="col-11 table-requisites">
      <table>
        <thead>
        <th colspan="2">
          Общество с ограниченной ответственностью «Управляющая компания
          <span class="color-red">
            «РУСПРОМИНВЕСТ»
          </span>
        </th>
        </thead>
        <tbody>
        <tr>
          <td>ИНН:</td>
          <td>9102162279</td>
        </tr>
        <tr>
          <td>КПП:</td>
          <td>910201001</td>
        </tr>
        <tr>
          <td>ОКПО:</td>
          <td>00841171</td>
        </tr>
        <tr>
          <td>ОГРН:</td>
          <td>1159102034849</td>
        </tr>
        <tr>
          <td>ОКФС:</td>
          <td>16 - Частная собственность</td>
        </tr>
        <tr>
          <td>ОКОГУ:</td>
          <td>4210014 - Организации, учрежденные юридическими лицами или гражданами, или юридическими лицами и
            гражданами совместно
          </td>
        </tr>
        <tr>
          <td>ОКОПФ:</td>
          <td>12300 - Общества с ограниченной ответственностью</td>
        </tr>
        <tr>
          <td>ОКТМО:</td>
          <td>35701000001</td>
        </tr>
        <tr>
          <td>ОКАТО:</td>
          <td>35401000 - 35401 - Симферополь, Города республиканского значения Республики Крым, Республика Крым</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
