<section class="section__workers">
  <div class="section row">
    <div class="col-lg-3 col-md-3 col-sm-11">
      <img ngSrc="./assets/img/employees.png" alt="" height="194" width="194">
      <h5>Друзин Руслан Валнетинович</h5>
      <h6>директор и основатель</h6>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-11">
      <img ngSrc="./assets/img/employees.png" alt="" height="194" width="194">
      <h5>Кожевников Олег Евгеньевич</h5>
      <h6>оценщик</h6>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-11">
      <img ngSrc="./assets/img/employees.png" alt="" height="194" width="194">
      <h5>Ломухина Валентина Сергеевна</h5>
      <h6>специалист по устойчивому развитию</h6>
    </div>
  </div>
</section>
