
<section id="valuation-topics-section">
  <div class="row">
    <article class="valuation-type">
      <div class="valuation-type__title col-12 col-sm-12 col-md-11">
        <p>
          <strong>Оценка недвижимого имущества</strong>
        </p>
      </div>

      <div class="valuation-type__text col-md-11 col-lg-8 col-xl-8 col-xxl-8">
        <p>
          <strong class="necessary-docs">Необходимые документы:</strong>
        </p>

        <ul class="docs-list">
          <li class="docs-item">
								<span>
									документы заказчика (паспорт физ. лица или свидетельство о регистрации юр. лица),
								</span>
          </li>

          <li class="docs-item">
								<span>
									правоустанавливающие документы на объект оценки (выписка из ЕГРН, договоры купли-продажи, договоры аренды),
								</span>
          </li>

          <li class="docs-item">
								<span>
									документы, связанные с целью оценки (при оформлении наследства – свидетельство о смерти);
								</span>
          </li>

          <li class="docs-item">
								<span>
									дополнительные документы, содержащие качественные и количественные характеристики объекта оценки
									<br>
									(фото объекта оценки; при оценке имущества на балансе предприятия - информация о балансовой стоимости) и т.д.
								</span>
          </li>
        </ul>

        <div class="table-price-wrapper">
          <table>
            <tbody>
            <tr>
              <th>
                <span>Срок выполнения:</span>
              </th>
              <td>
                <span>от 7 дней</span>
              </td>
            </tr>

            <tr>
              <th>
                <span>Стоимость услуги:</span>
              </th>
              <td>
                <span>от 5 000 ₽</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>

    <article class="valuation-type">
      <div class="valuation-type__title col-12 col-sm-12 col-md-11">
        <p>
          <strong>Оценка движимого имущества</strong>
        </p>
      </div>

      <div class="valuation-type__text col-md-11 col-lg-8 col-xl-8 col-xxl-8">
        <p>
          <strong class="necessary-docs">Необходимые документы:</strong>
        </p>

        <ul class="docs-list">
          <li class="docs-item">
									<span>
										документы заказчика (паспорт физ. лица или свидетельство о регистрации юр. лица),
									</span>
          </li>

          <li class="docs-item">
									<span>
										правоустанавливающие документы на объект оценки (свидетельство о регистрации транспортного средства
										<br>
										и паспорт транспортного средства; договоры купли-продажи, договоры аренды),
									</span>
          </li>

          <li class="docs-item">
									<span>
										документы, связанные с целью оценки (при оформлении наследства – свидетельство о смерти),
									</span>
          </li>

          <li class="docs-item">
									<span>
										дополнительные документы, содержащие качественные и количественные характеристики объекта оценки
										(фото объекта оценки; при оценке оборудования – инструкции, паспорта оборудования, сертификаты качества;
										при оценке имущества на балансе предприятия - информация о балансовой стоимости) и т.д.
									</span>
          </li>
        </ul>

        <div class="table-price-wrapper">
          <table>
            <tbody>
            <tr>
              <th>
                <span>Срок выполнения:</span>
              </th>
              <td>
                <span>от 5 дней</span>
              </td>
            </tr>

            <tr>
              <th>
                <span>Стоимость услуги:</span>
              </th>
              <td>
                <span>от 5 000 ₽</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>

    <article class="valuation-type">
      <div class="valuation-type__title col-12 col-sm-12 col-md-11">
        <p>
          <strong>Оценка бизнеса</strong>
        </p>
      </div>

      <div class="valuation-type__text col-md-11 col-lg-8 col-xl-8 col-xxl-8">
        <p>
          <strong class="necessary-docs">Необходимые документы:</strong>
        </p>

        <ul class="docs-list">
          <li class="docs-item">
									<span>
										документы заказчика (паспорт физ. лица или свидетельство о регистрации юр. лица),
									</span>
          </li>

          <li class="docs-item">
									<span>
										правоустанавливающие документы на объект оценки и/или объекты в составе объекта оценки
										(уставные документы, приказ о назначении руководителя, договор купли-продажи, договор аренды, выписка из ЕГРН,
										свидетельство о регистрации транспортного средства и паспорт транспортного средства),
									</span>
          </li>

          <li class="docs-item">
									<span>
										документы, связанные с целью оценки (при оформлении наследства – свидетельство о смерти);
									</span>
          </li>

          <li class="docs-item">
									<span>
										дополнительные документы, содержащие качественные и количественные характеристики объекта оценки
										(фото объекта оценки; при оценке бизнеса или имущества на балансе предприятия - бухгалтерская отчетность,
										информация о балансовой стоимости, при оценке оборудования – инструкции, паспорта оборудования, сертификаты качества;) и т.д.
									</span>
          </li>
        </ul>

        <div class="table-price-wrapper">
          <table>
            <tbody>
            <tr>
              <th>
                <span>Срок выполнения:</span>
              </th>
              <td>
                <span>от 30 дней</span>
              </td>
            </tr>

            <tr>
              <th>
                <span>Стоимость услуги:</span>
              </th>
              <td>
                <span>от 15 000 ₽</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>

    <article class="valuation-type">
      <div class="valuation-type__title col-12 col-sm-12 col-md-11">
        <p>
          <strong>Оценка размера возмещения</strong>
        </p>
      </div>

      <div class="valuation-type__text col-md-11 col-lg-8 col-xl-8 col-xxl-8">
        <p>
          <strong class="necessary-docs">Необходимые документы:</strong>
        </p>

        <ul class="docs-list">
          <li class="docs-item">
									<span>
										документы заказчика (паспорт физ. лица или свидетельство о регистрации юр. лица),
									</span>
          </li>

          <li class="docs-item">
									<span>
										правоустанавливающие документы на объект оценки (выписка из ЕГРН, договоры купли-продажи, договоры аренды),
									</span>
          </li>

          <li class="docs-item">
									<span>
										документы, связанные с целью оценки (при оформлении наследства – свидетельство о смерти;
										при определении возмещения в связи с установлением публичного сервитута – приказ об установлении публичного сервитута);
									</span>
          </li>

          <li class="docs-item">
									<span>
										дополнительные документы, содержащие качественные и количественные характеристики объекта оценки (фото объекта оценки) и т.д.
									</span>
          </li>
        </ul>

        <div class="table-price-wrapper">
          <table>
            <tbody>
            <tr>
              <th>
                <span>Срок выполнения:</span>
              </th>
              <td>
                <span>от 30 дней</span>
              </td>
            </tr>

            <tr>
              <th>
                <span>Стоимость услуги:</span>
              </th>
              <td>
                <span>от 50 000 ₽</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>

    <article class="valuation-type">
      <div class="valuation-type__title col-12 col-sm-12 col-md-11">
        <p>
          <strong>Оценка прав требования</strong>
        </p>
      </div>

      <div class="valuation-type__text col-md-11 col-lg-8 col-xl-8 col-xxl-8">
        <p>
          <strong class="necessary-docs">Необходимые документы:</strong>
        </p>

        <ul class="docs-list">
          <li class="docs-item">
									<span>
										документы заказчика (паспорт физ. лица или свидетельство о регистрации юр. лица),
									</span>
          </li>

          <li class="docs-item">
									<span>
										правоустанавливающие документы на объект оценки (свидетельство о регистрации транспортного средства и паспорт транспортного средства;
										выписка из ЕГРН, договоры купли-продажи, договоры аренды),
									</span>
          </li>

          <li class="docs-item">
									<span>
										документы, связанные с целью оценки (решения и определения суда);
									</span>
          </li>

          <li class="docs-item">
									<span>
										дополнительные документы, содержащие качественные и количественные характеристики объекта оценки
										(фото объекта оценки; при оценке бизнеса или имущества на балансе предприятия - бухгалтерская отчетность;
										при оценке оборудования – инструкции, паспорта оборудования, сертификаты качества) и т.д
									</span>
          </li>
        </ul>

        <div class="table-price-wrapper">
          <table>
            <tbody>
            <tr>
              <th>
                <span>Срок выполнения:</span>
              </th>
              <td>
                <span>от 30 дней</span>
              </td>
            </tr>

            <tr>
              <th>
                <span>Стоимость услуги:</span>
              </th>
              <td>
                <span>от 50 000 ₽</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>

    <article class="valuation-type">
      <div class="valuation-type__title col-12 col-sm-12 col-md-11">
        <p>
          <strong>Оценка ценных бумаг</strong>
        </p>
      </div>

      <div class="valuation-type__text col-md-11 col-lg-8 col-xl-8 col-xxl-8">
        <p>
          <strong class="necessary-docs">Необходимые документы:</strong>
        </p>

        <ul class="docs-list">
          <li class="docs-item">
									<span>
										документы заказчика (паспорт физ. лица или свидетельство о регистрации юр. лица),
									</span>
          </li>

          <li class="docs-item">
									<span>
										правоустанавливающие документы на объект оценки (договоры купли-продажи),
									</span>
          </li>

          <li class="docs-item">
									<span>
										документы, связанные с целью оценки (при оформлении наследства – свидетельство о смерти);
									</span>
          </li>

          <li class="docs-item">
									<span>
										дополнительные документы, содержащие качественные и количественные характеристики объекта оценки
										(фото объекта оценки; бухгалтерская или иная отчетность эмитента ценных бумаг) и т.д.
									</span>
          </li>
        </ul>

        <div class="table-price-wrapper">
          <table>
            <tbody>
            <tr>
              <th>
                <span>Срок выполнения:</span>
              </th>
              <td>
                <span>от 30 дней</span>
              </td>
            </tr>

            <tr>
              <th>
                <span>Стоимость услуги:</span>
              </th>
              <td>
                <span>от 25 000 ₽</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>

    <article class="valuation-type">
      <div class="valuation-type__title col-12 col-sm-12 col-md-11">
        <p>
          <strong>Оценка нематериальных активов</strong>
        </p>
      </div>

      <div class="valuation-type__text col-md-11 col-lg-8 col-xl-8 col-xxl-8">
        <p>
          <strong class="necessary-docs">Необходимые документы:</strong>
        </p>

        <ul class="docs-list">
          <li class="docs-item">
									<span>
										документы заказчика (паспорт физ. лица или свидетельство о регистрации юр. лица),
									</span>
          </li>

          <li class="docs-item">
									<span>
										правоустанавливающие документы на объект оценки
										(патент, свидетельство на нематериальный актив, лицензионный договор, договоры купли-продажи, договоры аренды),
									</span>
          </li>

          <li class="docs-item">
									<span>
										документы, связанные с целью оценки (при оформлении наследства – свидетельство о смерти);
									</span>
          </li>

          <li class="docs-item">
									<span>
										дополнительные документы, содержащие качественные и количественные характеристики объекта оценки
										(фото объекта оценки; при оценке оборудования – инструкции, паспорта оборудования, сертификаты качества;
										бухгалтерская и иная отчетность) и т.д.
									</span>
          </li>
        </ul>

        <div class="table-price-wrapper">
          <table>
            <tbody>
            <tr>
              <th>
                <span>Срок выполнения:</span>
              </th>
              <td>
                <span>от 30 дней</span>
              </td>
            </tr>

            <tr>
              <th>
                <span>Стоимость услуги:</span>
              </th>
              <td>
                <span>от 25 000 ₽</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </div>
</section>

