// default
//$color-dark: #262626
//$bottom-line-color: #3AFFDC
//$bottom-line-color-dark: #27bda2
//$background-dark: #CBF3FF
//$color-light: #B6B6B6

// gray-pink
$color-light: #e6e7e9
$color-dark: #383838
$bottom-line-color: #d9223c
$bottom-line-color-dark: #bb142c
$background-light: #e6e7e9
$background-dark: #383838

// oranges
//$color-light: #C8D2D1
//$color-dark: #262626
//$bottom-line-color: #68904D
//$bottom-line-color-dark: #14471E
//$background-light: #EE9B01
//$background-dark: #DA6A00
