<div class="services-section">
  <div class="row section">
    <div class="col-8">
      <div class="grid_container">
        <p>Имя</p>
        <p>Телефон</p>
        <p>Дата заявки</p>
        <ng-container *ngFor="let order of orders$ | async">
          <p>{{order.clientName}}</p>
          <p>{{order.clientPhone}}</p>
          <p>{{order.clientOrderDate | date : 'EEEE, dd MMMM YYYY, HH:MM'}}</p>
        </ng-container>
      </div>
      <div class="more-button__wrapper text-center">
        <button
          (click)="logout()"
          class="btn more-button my-5"
        >Выйти
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <div class="mt-2 mb-5 text-center">
    <h3>У Вас нет доступа к этой странице</h3>
  </div>
</ng-template>
