<div class="services-section">
  <div class="row section">
    <div class="col-8">

      <table *ngIf="(currentUser$ | async) && (orders$ |async) else loggedOut">
        <thead>
        <tr>
          <th>
            Имя
          </th>
          <th class="px-5">
            Телефон
          </th>
          <th>
            Дата заявки
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders$ | async">
          <td>{{order.clientName}}</td>
          <td class="px-5">{{order.clientPhone}}</td>
          <td class="px-5">date</td>
        </tr>
        </tbody>
      </table>
      <div class="more-button__wrapper text-center">
        <button
          (click)="logout()"
          class="btn more-button my-5"
        >Выйти
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <div class="mt-2 mb-5 text-center">
    <h3>У Вас нет доступа к этой странице</h3>
  </div>
</ng-template>
