<section class="services-section">
    <div class="articles-wrapper row">
      <div class="service-article col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5 col-xxl-4">
        <header class="service-article__title">
          Оценочная деятельность, бизнес-анализ, юридическое сопровождение
        </header>
        <p>
          Наша компания производит оценку стоимости любого вида движимого и недвижимого имущества:
          Жилая недвижимость, офисные и торговые центры, складские и промышленные помещения, земельные участки,
          транспорт, машины и оборудование и пр.
        </p>
      </div>
      <div class="service-article col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5 col-xxl-4">
        <app-order-form></app-order-form>
      </div>
    </div>
</section>


<section class="services-section mt-0">
  <header>
    <h2 class="title section-title">Какие услуги мы предоставляем</h2>
  </header>

  <div class="articles-wrapper row">
    <article class="service-article business-analysis col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5 col-xxl-4">
      <header class="service-article__title">
        <h5>Бизнес-анализ:</h5>
      </header>

      <ul class="business-analysis-list">
        <li class="business-analysis-list__item">Исследование конъюнктуры рынка</li>
        <li class="business-analysis-list__item">Изучение общественного мнения</li>
        <li class="business-analysis-list__item">Услуги в области бухгалтерского учета</li>
        <li class="business-analysis-list__item">Услуги по проведению финансового аудита</li>
        <li class="business-analysis-list__item">Проведение исследований в социально-экономической
          сфере
        </li>
        <li class="business-analysis-list__item">ESG-оценка</li>
      </ul>

      <div class="more-button__wrapper">
        <button class="btn more-button" routerLink="/services">
          Подробнее
        </button>
      </div>
    </article>

    <article class="service-article consulting col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5 col-xxl-4">
      <header class="service-article__title">
        <h5>Консалтинг:</h5>
      </header>

      <ul class="consulting-list">
        <li class="consulting-list__item">Консультирование по вопросам коммерческой деятельности</li>
        <li class="consulting-list__item">Консультирование по вопросам управления</li>
        <li class="consulting-list__item">Налоговое консультирование</li>
        <li class="consulting-list__item">Финансовое консультирование</li>
        <li class="consulting-list__item">Юридические консультации</li>
        <li class="business-analysis-list__item">Консультации по вопросам ESG</li>
      </ul>

      <div class="more-button__wrapper">
        <button class="btn more-button" routerLink="/services">
          Подробнее
        </button>
      </div>
    </article>

    <article class="service-article appraisal col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5 col-xxl-4">
      <header class="service-article__title">
        <h5>Оценочная деятельность:</h5>
      </header>

      <ul class="appraisal-list">
        <li class="appraisal-list__item">Оценка недвижимости</li>
        <li class="appraisal-list__item">Оценка бизнеса</li>
        <li class="appraisal-list__item">Оценка ценных бумаг</li>
        <li class="appraisal-list__item">Оценка инвестпроектов</li>
        <li class="appraisal-list__item">Оценка нематериальных активов</li>
        <li class="appraisal-list__item">Оценка контрагентов</li>
      </ul>

      <div class="more-button__wrapper">
        <button class="btn more-button" routerLink="/services">
          Подробнее
        </button>
      </div>
    </article>

    <article class="service-article legal-support col-11 col-sm-11 col-md-5 col-lg-5 col-xl-5 col-xxl-4">
      <header class="service-article__title">
        <h5>Юридическое сопровождение:</h5>
      </header>

      <ul class="legal-support-list">
        <li class="legal-support-list__item">Юридическое сопровождение компаний</li>
        <li class="legal-support-list__item">Банкротство физических и юридических лиц</li>
        <li class="legal-support-list__item">Ликвидация налоговых споров</li>
        <li class="legal-support-list__item">Решение конфликтов в области земельных отношений</li>
        <li class="legal-support-list__item">Решение споров с государственными и исполнительными
          органами власти
        </li>
        <li class="legal-support-list__item">Due Diligence (проверка партнеров / контрагентов)</li>
      </ul>

      <div class="more-button__wrapper">
        <button class="btn more-button" routerLink="/services">
          Подробнее
        </button>
      </div>
    </article>
  </div>
</section>

<section class="about-us-section">
  <h2 class="about-us-section__title section-title">О нас</h2>
  <article class="about-us__wrapper row">
    <div class="about-us__tagline-wrapper col-11 col-sm-11 col-xxl-12 text-center">
      <h3>
        РУСПРОМИНВЕСТ осуществляет деятельность с 22 января 2015 года.
      </h3>
    </div>

    <a class="about-link employees-block col-11 col-sm-11 col-md-5 col-lg-4 col-xxl-3"
       routerLink="/about-us"
    >
      <span>Наши сотрудники</span>
      <img src="./assets/img/employees.png" alt="Сотрудники РусПромИнвест">
    </a>

    <a class="about-link certificates-block col-11 col-sm-11 col-md-5 col-lg-4 col-xxl-3"
       routerLink="/about-us"
    >
      <span>Сертификаты и номинации</span>
      <img src="./assets/img/certificates.png" alt="Сертификаты РусПромИнвест">
    </a>


    <a class="about-link legal-block col-11 col-sm-11 col-md-5 col-lg-4 col-xxl-3"
       routerLink="/about-us"
    >
      <span>Юридическая информация</span>
      <img src="./assets/img/legal.png" alt="Юридическая информация РусПромИнвест">
    </a>
  </article>
</section>

<section class="contacts-section">
  <h2 class="about-us__title section-title">Контакты</h2>

  <div class="contacts-articles__wrapper row">
    <article class="map__wrapper col-md-12 col-lg-9 col-xl-7 col-xxl-8">
      <h3 class="hidden">РусПромИнвест на карте</h3>
      <div style="position:relative;overflow:hidden;"><a
        href="https://yandex.ru/maps/146/simferopol/?utm_medium=mapframe&utm_source=maps"
        style="color:#eee;font-size:12px;position:absolute;top:0;">Симферополь</a><a
        href="https://yandex.ru/maps/146/simferopol/house/ulitsa_khatsko_17/Z00Ydg9nSEICQFpufXV0dHhkYw==/?ll=34.087168%2C44.955503&utm_medium=mapframe&utm_source=maps&z=16.6"
        style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Хацко, 17 — Яндекс Карты</a>
        <iframe
          src="https://yandex.ru/map-widget/v1/?ll=34.087168%2C44.955503&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNDUwMjY3NTgzEl7QoNC-0YHRgdC40Y8sINCg0LXRgdC_0YPQsdC70LjQutCwINCa0YDRi9C8LCDQodC40LzRhNC10YDQvtC_0L7Qu9GMLCDRg9C70LjRhtCwINCl0LDRhtC60L4sIDE3IgoNRlkIQhVo0jNC&z=16.6"
          width="560" height="400" style="position:relative;"></iframe>
      </div>
    </article>

    <article class="contact-with-us col-md-12 col-lg-3 col-xl-5 col-xxl-4">
      <h3>Свяжитесь с нами:</h3>
      <div class="phone-block">
        <i class="bi bi-telephone"></i>
        <a href="tel:+79787181311" class="phone-block__link">+7 (978) 718-13-11</a>
      </div>

      <footer>
        <div class="schedule-block">
          <i class="bi bi-clock"></i>
          <span class="contact-info">Пн – Пт с 9:00 до 18:00, перерыв с 13:00 до 14:00</span>
        </div>

        <div class="address-block">
          <i class="bi bi-house"></i>
          <a class="contact-info" routerLink="/contacts">295014, Республика Крым, г.Симферополь, ул. Хацко, д.17</a>
        </div>

        <div class="email-block">
          <i class="bi bi-envelope"></i>
          <a href="mailto:simferopol.jurart@gmail.com">simferopol.jurart@gmail.com</a>
        </div>
      </footer>
    </article>
  </div>
</section>


