<form class="order-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <header>
    Оставьте свой номер телефона и наш консультант свяжется с Вами для бесплатной консультации
  </header>

  <div class="form-group">
    <input
      class="form-control"
      type="text"
      placeholder="Имя"
      formControlName="clientName"
    >
  </div>
  <div class="form-group">
    <input
      type="tel"
      class="form-control"
      id="phone"
      aria-describedby="phoneHelp"
      mask="000) 000-00-00"
      prefix="+7("
      [showMaskTyped]="true"
      formControlName="clientPhone"
    >
    <div
      class="invalid"
      *ngIf="(form.touched && form.invalid) || (form.get('clientPhone')?.touched && form.get('clientPhone')?.hasError('required'))"
    >
      Пожалуйста, укажите номер телефона!
    </div>
  </div>

  <div class="more-button__wrapper mb-2">
    <button type="submit" class="more-button btn" [disabled]="form.invalid">
      Оставить заявку
    </button>
  </div>
  <small *ngIf="isSent$">
    <p>Благодарим за заявку, наши специалисты свяжутся с Вами в ближайший рабочий день!</p>
  </small>
  <small *ngIf="isFailed$">
    <p>При отправке данных произошла ошибка</p>
  </small>
</form>
