<section class="faq-section section row">
  <header>
    <h2 class="title section-title">
      Частые вопросы
    </h2>
  </header>
  <div class="article__wrapper row">
    <article class="article col-10">
      <header>
        <h5>
          Для чего необходимо проведение оценки?
        </h5>
      </header>
      <p>
        Проведение оценки необходимо при операциях с государственным, региональным или муниципальным имуществом; при национализации имущества; при оформлении ипотеки; при составлении брачных контрактов и разделе имущества; при изъятии имущества для государственных или муниципальных нужд; в целях контроля за правильностью уплаты налогов в случае возникновения спора об исчислении налогооблагаемой базы.
        Кроме того, отчет об оценке может понадобиться при вступлении в наследство, для определения величины компенсации, для целей бухгалтерского учета, с целью заключения договора (аренды, купли-продажи, мены, дарения), для обращения в суд.
      </p>
    </article>
    <article class="article col-10">
      <header>
        <h5>
          Какие документы необходимы для заключения договора об оценке?
        </h5>
      </header>
      <p>
        Для заключения договора необходим паспорт заказчика (или свидетельство о регистрации юр. лица), правоустанавливающие документы на объект оценки (например, свидетельство о регистрации транспортного средства и паспорт транспортного средства; выписка из ЕГРН, договоры купли-продажи, договоры аренды), документы, связанные с целью оценки (при оформлении наследства – свидетельство о смерти; при определении возмещения в связи с установлением публичного сервитута – приказ об установлении публичного сервитута); дополнительные документы, содержащие качественные и количественные характеристики объекта оценки (фото объекта оценки; при оценке оборудования – инструкции, паспорта оборудования, сертификаты качества; при оценке бизнеса или имущества на балансе предприятия - бухгалтерская отчетность) и т.д.
      </p>
    </article>
    <article class="article col-10">
      <header>
        <h5>
          Что может быть объектом оценки?
        </h5>
      </header>
      <p>
        К объектам оценки относятся:
      </p>
      <ul>
        <li>отдельные материальные объекты (вещи);</li>
        <li>совокупность вещей, составляющих имущество лица, в том числе имущество определенного вида (движимое или
          недвижимое, в том числе предприятия);
        </li>
        <li>право собственности и иные вещные права на имущество или отдельные вещи из состава имущества;</li>
        <li>права требования, обязательства (долги);</li>
        <li>работы, услуги, информация;</li>
        <li>иные объекты гражданских прав, в отношении которых законодательством Российской Федерации установлена возможность их участия в гражданском обороте.</li>
      </ul>
    </article>
    <article class="article col-10">
      <header>
        <h5>
          Какие сроки выполнения оценки?
        </h5>
      </header>
      <p>
        Сроки варьируются в зависимости от вида и состава объекта оценки:
      </p>
      <ul>
        <li>Оценка автомобиля – до 7 дней;</li>
        <li>Оценка жилой недвижимости – от 7 дней</li>
        <li>Оценка коммерческой недвижимости – от 7 дней</li>
        <li>Оценка движимого имущества – от 7 дней</li>
        <li>Оценка бизнеса – от 30 дней</li>
        <li>Оценка величины компенсации – от 30 дней</li>
        <li>Оценка прав требования – от 30 дней</li>
      </ul>
    </article>
    <article class="article col-10">
      <header>
        <h5>
          Какова стоимость услуг?
        </h5>
      </header>
      <p>
        Стоимость услуг зависит от вида и состава объекта оценки:
      </p>
      <ul>
        <li>Оценка автомобиля – от 5000 руб.;</li>
        <li>Оценка жилой недвижимости – от 5000 руб.</li>
        <li>Оценка коммерческой недвижимости – от 7000 руб.</li>
        <li>Оценка движимого имущества – от 5000 руб.</li>
        <li>Оценка бизнеса – от 15000 руб.</li>
        <li>Оценка величины возмещения – от 50 000 руб.</li>
        <li>Оценка прав требования – от 50 000 руб.</li>
      </ul>
    </article>
    <article class="article col-10">
      <header>
        <h5>
          Могу ли я самостоятельно выполнить оценку для своих целей?
        </h5>
      </header>
      <p>
        В целях получения определенной информации о текущей стоимости объекта оценки на рынке, вы можете выполнить ее самостоятельно, однако официально использовать ее вы не сможете. Официальную оценочную деятельность может выполнять только квалифицированный оценщик, являющийся членом саморегулируемой организации оценщиков и застраховавший свою ответственность.
      </p>
      <p>
        Субъектами оценочной деятельности признаются физические лица, являющиеся членами одной из саморегулируемых организаций оценщиков и застраховавшие свою ответственность в соответствии с требованиями настоящего Федерального закона (далее - оценщики).
      </p>
      <p>
        Оценщик может осуществлять оценочную деятельность самостоятельно, занимаясь частной практикой, а также на основании трудового договора между оценщиком и юридическим лицом, которое соответствует условиям, установленным статьей 15.1 настоящего Федерального закона.
      </p>
      <p>
        Оценщик может осуществлять оценочную деятельность по направлениям, указанным в квалификационном аттестате.
      </p>
    </article>
    <article class="article col-10">
      <header>
        <h5>
          Как определяется арбитражный управляющий?
        </h5>
      </header>
      <p>
        Арбитражный управляющий назначается из кандидатур, предложенных соответствующему суду саморегулируемыми организациями арбитражных управляющих.
      </p>
    </article>
  </div>
</section>
